<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WELCOME</title>
        <link rel="stylesheet" href="/static/css/homePage.css">
    </head>
    <body>
        <button id="toggle-btn">☰</button>
        <div class="sidebar hidden" id="sidebar">
            <ul>
                <li><button href="#"><b>Who will come?</b> </button></li>
                <li><button href="#"><b>Who are invited?</b> </button></li>
                <li><button href="#"><b>Exit</b></button></li>
            </ul>
        </div>
        <div class="main-content">
        </div>
        <div class="wrapper">
            <h2>HELLO!!!</h2>
            <h3>You are invited to Vince Birthday Party!!!</h3>
            <p>Where??? On the Navarrete Residence Zone 7, Bulan Sorsogon
                <br>When??? On November 13 3:00pm onwards</p>
            <h3>WILL YOU COME?</h3>    
            <button class="yes">OFCOURESE YES!</button>
            <button class="no">sorry but no</button>
        </div>
        <script src="/static/js/homePage.js"></script>
    </body>
</html>