<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Invitation from someone</title>
        <link rel="stylesheet" href="/static/css/loginPage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <div class="title">
                <h1>WELCOME</h1>
                <h2>You are invited to Vince's Birthday Party</h2>
                <p>Please login to Continue</p>
            </div>
            <div class="login-container">
                <form> <!--must add method and action that is connected to the backend :>-->
                    <input type="text" name="name" placeholder="Please enter your name" required>
                    <input type="text" name="email" placeholder="Please input your email" required>
                    <button type="submit">LOG IN</button>
                </form>
            </div>
        </div>
        <script src="/static/js/loginPage.js"></script>
    </body>
</html>